@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

/*
Paleta de cores do site:
- #c5ebd6
- #83e1ad
- #3ddc84
- #2fa866
- #1a5c37
- #063d1e
*/

/*----------    Variáveis em CSS    ----------*/

/*Pseudo-classe Principal do Documento:*/
/*Tudo definido dentro dela pode se utilizar durante o documento inteiro, por exemplo, a utilização de variáveis globais em CSS*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/*Para utilizar as variáveis temos que colocar a função 'var' e em seguida o nome da variável.*/

/*Seletor Global para todas as tags das CSS, ao invés de utilizar 'p, h1, h2, h3' por exemplo*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

/*Cabeçalho*/
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

/*Menu*/
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;/*para durar 0.5 segundos de transição de características*/
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

/*Conteúdo*/
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);/*Para dar um efeito de que o degradê está sumindo*/
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 2em;/*Altura entre linhas*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

/*Vídeo*/
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;

    position: relative;
    padding-bottom: 56.5%;
}

/*Vídeo Responsivo*/
div.video > iframe {
    position: absolute;
    /*Com o position 'absolute', podemos utilizar as propriedades 'top', 'left', 'bottom', 'right' que representam o espaço entre o a div e o elemento*/
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;

}

/*Conteúdo Periférico*/
aside {
    background-color: var(--cor1);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;/*Margem negativa para vazar para fora*/
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';/*Emoji de check da emojipedia, Obs: Não é compatível com todos os navegadores!*/
    list-style-position: inside;/*Para a bolinha ficar do lado de dentro, o padrão é 'outside' ou lado de fora*/
    columns: 2;/*Dividindo a lista em 2 colunas*/
}

/*Rodapé*/
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
